/* Box sizing */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Remove default margins and paddings */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dd,
figure,
pre {
  margin: 0;
  padding: 0;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Remove default spacing for paragraphs */
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* Remove default spacing for headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* Remove default spacing for lists */
ul,
ol,
dl {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* Remove default styling for form elements */
input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

/* Remove default styling for anchor tags */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove default styling for images */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Remove default styling for tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom style */

body {
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: slategrey;
}

header {
  text-align: center;
  padding: 1rem;
  background-color: rgb(36, 40, 45);
  color: aliceblue;
}

form {
  width: 50%;
  margin: 3rem auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

label {
  text-align: center;
  color: rgb(247, 249, 250);
  font-size: 1.4rem;
}

select {
  width: 90%;
  border: 1px solid black;
  background-color: aliceblue;
  padding: 0.6rem;
  margin: 1rem auto;
  text-align: center;
}

.btn {
  margin: 1.3rem auto;
  width: 90%;
  border: 1px solid black;
  padding: 0.5rem;
  background-color: rgb(36, 40, 45);
  color: aliceblue;
  font-size: 1.4rem;
}

/* Question component style */

.questions {
  color: aliceblue;
  text-align: center;
}

h2 {
  padding: 1rem;
}

.questions button {
  display: block;
  margin: 1rem auto;
  padding: 0.7rem 2rem;
  border: 1px solid black;
  background-color: aliceblue;
  font-size: 1rem;
  cursor: pointer;
}

.questions button:hover {
  background-color: rgb(36, 40, 45);
  color: aliceblue;
}

.report-card {
  max-width: 80%;
  margin: 3rem auto;
  background-color: rgb(247, 249, 250);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.report-card h2 {
  margin-bottom: 2rem;
  text-align: center;
  color: slategrey;
}

table {
  width: 100%;
  border: 1px solid slategrey;
  border-collapse: collapse;
}

table th,
table td {
  padding: 0.8rem;
  border: 1px solid slategrey;
}

table th {
  background-color: rgb(36, 40, 45);
  color: aliceblue;
}

table td {
  text-align: center;
}

tfoot td {
  font-weight: bold;
}
